In [1]:
import numpy as np
import pandas as pd
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_excel('D:/teadata/区域竞争力/数据文件/区域竞争力.xlsx')
df.sample(5)

,pid,cid,year,teaarea,teapro,pervalue,ratio,gteapro,rteapro,wlteapro,bteapro,comnum,trademark,other1,other2
534,41,77,2015-01-01,103.55,26541,19.00,2.65,3443.0,4384.0,3785.50,2434.00000,74113,35220,28130,1135.483398
261,35,38,2015-01-01,72.00,28948,21.60,18.50,21958.0,24416.0,8456.50,4180.00000,260449,127767,18400,5454.429199
1293,61,185,2018-01-01,88.71,17650,37.10,19.10,11417.0,13543.0,14200.00,3132.00000,207182,114755,24642,6438.222656
1229,53,176,2017-01-01,70.43,10522,4.33,0.05,4200.0,4260.0,1077.74,792.33279,65036,36046,21928,1515.637329
1219,53,175,2014-01-01,72.09,3624,2.33,2.00,3500.0,4000.0,1800.00,1270.00000,55623,34556,10048,1857.815674

In [14]:
regional = 'cid'
df_rem = df.drop('pid',axis=1)
df_group = df_rem.groupby([regional,'year']).sum()
df_group.reset_index(inplace=True)
df_group

,cid,year,teaarea,teapro,pervalue,ratio,gteapro,rteapro,wlteapro,bteapro,comnum,trademark,other1,other2
0,1,2013-01-01,151.66,29589,31.80,4.00,10533.0,11436.0,16740.15,4042.00,451484,250223,78783,4869.327148
1,1,2014-01-01,152.97,30065,38.00,4.53,14026.0,14873.0,18331.70,4449.00,480139,264724,80178,5672.049805
2,1,2015-01-01,145.11,33483,38.02,10.00,14143.0,14692.0,20472.70,5062.00,555843,299721,78400,6733.410156
3,1,2016-01-01,150.22,35500,38.67,12.00,4831.0,9670.0,21284.60,6025.94,662542,341552,88201,8039.582520
4,1,2017-01-01,150.91,42326,40.64,12.50,4886.0,9803.0,21927.00,6753.36,689554,367067,72965,8414.326172
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1486,213,2015-01-01,14.88,3510,0.30,0.00,1536.0,2249.0,433.42,1241.00,5433,3284,5815,1071.597656
1487,213,2016-01-01,13.16,3694,0.30,0.00,2026.0,3100.0,495.18,1330.00,5702,3724,5422,1142.685425
1488,213,2017-01-01,12.48,4430,0.40,0.00,2452.0,3678.0,570.75,1465.00,10725,5826,5089,2115.384521
1489,213,2018-01-01,11.12,5641,0.73,0.00,2650.0,4078.0,724.29,1594.00,12066,7406,5066,2432.661377
1490,213,2019-01-01,10.16,6010,1.00,0.00,828.0,1656.0,820.79,1906.00,14192,8576,10035,2890.427734

In [4]:
STS = StandardScaler()
X =STS.fit_transform(df_group.iloc[:,3:])
pca = PCA(n_components=4)   #降到4维
pca.fit(X)                  #训练
newX=pca.fit_transform(X)   #降维后的数据
print('贡献率',pca.explained_variance_ratio_)  #输出贡献率
# print(f'newX{newX}')

贡献率 [0.63424303 0.11659977 0.07113463 0.04995692]

In [5]:
Fac_score = newX*pca.explained_variance_ratio_.reshape(1,-1)
T_Fac_score = Fac_score.sum(1)

In [6]:
T_Fac_S = pd.Series(T_Fac_score, name='Fac_score')
df_total = pd.merge(df_group,T_Fac_S,left_index=True,right_index=True)
df_total

,cid,year,pid,teaarea,teapro,pervalue,ratio,gteapro,rteapro,wlteapro,bteapro,comnum,trademark,other1,other2,Fac_score
0,1,2013-01-01,32,151.66,29589,31.80,4.00,10533.0,11436.0,16740.15,4042.00,451484,250223,78783,4869.327148,0.843061
1,1,2014-01-01,32,152.97,30065,38.00,4.53,14026.0,14873.0,18331.70,4449.00,480139,264724,80178,5672.049805,1.146757
2,1,2015-01-01,32,145.11,33483,38.02,10.00,14143.0,14692.0,20472.70,5062.00,555843,299721,78400,6733.410156,1.529528
3,1,2016-01-01,32,150.22,35500,38.67,12.00,4831.0,9670.0,21284.60,6025.94,662542,341552,88201,8039.582520,1.813098
4,1,2017-01-01,32,150.91,42326,40.64,12.50,4886.0,9803.0,21927.00,6753.36,689554,367067,72965,8414.326172,2.093506
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1486,213,2015-01-01,62,14.88,3510,0.30,0.00,1536.0,2249.0,433.42,1241.00,5433,3284,5815,1071.597656,-1.702182
1487,213,2016-01-01,62,13.16,3694,0.30,0.00,2026.0,3100.0,495.18,1330.00,5702,3724,5422,1142.685425,-1.672320
1488,213,2017-01-01,62,12.48,4430,0.40,0.00,2452.0,3678.0,570.75,1465.00,10725,5826,5089,2115.384521,-1.566254
1489,213,2018-01-01,62,11.12,5641,0.73,0.00,2650.0,4078.0,724.29,1594.00,12066,7406,5066,2432.661377,-1.509944
1490,213,2019-01-01,62,10.16,6010,1.00,0.00,828.0,1656.0,820.79,1906.00,14192,8576,10035,2890.427734,-1.486498

In [7]:
from flask import render_template, request, jsonify
from flask import Blueprint
from flask import Flask
from flask_cors import CORS


sentiments= Blueprint("sentiments", __name__, template_folder='../templates')
@sentiments.route("/test", methods=['POST'])     
def test():
    return 'Hello world'


app = Flask(__name__)
app.config['JSON_AS_ASCII'] = False
CORS(app, resources=r'/*')
@app.route('/')
def hello_world():
    return 'Hello World!'
app.debug = True
app.register_blueprint(sentiments, url_prefix='/sentiments')  



if __name__ == '__main__':
    app.run(host="0.0.0.0",port=9001,debug=True)

UnsupportedOperation: not writable